.app {
  margin: 0 auto;
  max-width: 1536px;
  font-family: 'Niramit', sans-serif;
  opacity: 0;
  animation: appear 2s ease 1s;
  animation-fill-mode: forwards;
}

.app div.header {
  background-color: white;
  margin: 16px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  border-radius: 16px;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.app div.header div.profile {
  margin: 0 auto;
  height: 256px;
}

.app div.header div.profile img {
  height: 256px;
  width: var(height);
  border-radius: 4px;
  object-fit: cover;
}

.app div.header div.bio {
  margin: 8px 16px;
  display: flex;
  flex-direction: column;
  padding-bottom: 64px;
  flex: 999;
  min-width: 15em;
}

.app div.header div.bio div.name {
  font-size: 22px;
  font-weight: bold;
}

.app div.header div.bio div.description {
  font-size: 16px;
  line-height: 20px;
}
.app .gallery {
  margin: 32px;
}
.app .gallery div.tile-description {
  text-align: center;
}

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}